<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="navbar-brand" href="/home">Animana</div>
  <div class="collapse navbar-collapse">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" 
          routerLink="/home"  
          routerLinkActive="active">Home</a>
        <a class="nav-item nav-link" 
          routerLink="/clients"  
          routerLinkActive="active">Clients</a>
        <a class="nav-item nav-link" 
          routerLink="/patients"  
          routerLinkActive="active">Patients</a>
        <a class="nav-item nav-link" 
          routerLink="/invoices"
          outerLinkActive="active">Invoices</a>
      </div>
  </div>
</nav>