//It includes for the Clients HTML page.
.clients{
  padding:24px 12px;

  &__child{
    position:fixed;
    top:0;
    left:0;
    z-index:1;
  }
  &__search{
      display:flex;
      justify-content: flex-end;

      input[type=text]{
        width: 200px;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        align-items:flex-end;
        border-radius: 4px;
        box-sizing: border-box;
      }
  }

  &__card{
      animation: fadeIn 3s ease-in forwards;
      display:flex;
      margin:8px 0px;
      padding:12px;
      box-shadow: 0 0 8px 0 rgba(34,34,34,0.02),0 8px 16px 0 rgba(34,34,34,0.2);

      &--image{
        width:200px;
        height:200px;
        align-self: center;
        margin: 0 24px;
        box-shadow: 0 0 2px 2px #e9f0f0;
      }

      &__details{
        align-self: center;
        margin: 0 24px;
          div{
            margin:8px 0px;
          }

          a{
            cursor:pointer;
          }

          a:hover,
          a:active{
            color:cadetblue;
          }

          span:last-child{
            font-weight:bold;
          }
      }

      &__address {
        margin: 0 24px;
        align-self: center;
        div{
          margin:8px 0px;
        }

        span:last-child{
          font-weight:bold;
        }
      }
  }

  @media(max-width:768px){
    &__card{
      flex-direction: column;

      &--image{
        margin:8px 12px;
        width:100%;
        display:flex;
        justify-content: center;
        align-self: center;

        div{
          align-self:center;
        }

      }

      &__details{
        margin:8px 12px;
        align-self: flex-start;

        div{
          margin:8px 0px;
        }

        span:last-child{
          font-weight:bold;
        }
      }

      &__address {
        margin:8px 12px;
        align-self: flex-start;

        span:last-child{
          font-weight:bold;
        }

      }
    }
  }



  &__card:hover,
  &__card:active{
      background-color: #edf7f7;
      margin:8px 0px;
      padding:12px;
      box-shadow: 0 0 8px 0 rgba(34,34,34,0.02),0 8px 16px 0 rgba(34,34,34,0.2);
  }


  &__button{
    margin-top:32px;
      display:flex;
      justify-content: space-between;
    &--previous{

    }

    &--next{

    }

    &--index{
      font-weight:lighter;
      font-size:22px;
    }

    @media(max-width:768px){
      &--index{
          display:none;
      }
    }
  }
}

.button{
  width:140px;
  height:40px;
}


@keyframes fadeIn {
 0%{
   opacity: 0;
  }
  100%{
    opacity:1;
  }
}

