/* You can add global styles to this file, and also import other style files */
body{
  margin:0px;
  font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
}

.customer{
  background-image:url('./assets/customer.svg');
  background-repeat: no-repeat;
  width:200px;
  height:200px;
}

.firstAid{
  background-image:url('assets/firstAdd.png');
  background-repeat: no-repeat;
  background-position: center;
  width:200px;
  height:200px;
}

.close{
  background-image:url('./assets/close.svg');
  background-repeat: no-repeat;
  background-position: center;
  width:24px;
  height:24px;
}

.delete{
  background-image:url('./assets/delete.svg');
  background-repeat: no-repeat;
  background-position: center;
  width:24px;
  height:24px;
}

.invoiceIcon{
  background-image:url('./assets/invoice.svg');
  background-repeat: no-repeat;
  background-position: center;
  width:200px;
  height:200px;
}
