//It includes all the css used on Footer HTML page
.footer{
  background-color:#e9f0f0;
  padding:8px 16px;

  &__items{
      display:flex;
      justify-content: center;
      list-style: none;
      padding:0;

      &--item{
        cursor:pointer;
        algin-self:center;
        margin: 0px 16px;
      }

      &--item:hover{
        algin-self:center;
        color:#4f706f;
        margin: 0px 16px;
      }
  }

}
